/* .game{
    width: 170px;
    height: 170px;
    position: relative;
    border: 10px solid blue;
    margin: 10px;
    display: inline-block;
}
.image{
    width:100%;
    height:100%;
} */


.game{
    width: 170px;
    height: 170px;
    overflow: hidden;
    position: relative;
    margin: 10px 10px 10px 10px;
    border-radius: 20px;
    box-shadow: 5px 8px 12px black;
    transition: all 0.3s ease-in-out;
}
.game:hover{
    transform: scale(1.1);
    box-shadow: 13px 15px 37px black;
}
.image{
    width:100%;
    height:100%;
}
.card-title{
    font-family: Arial, Black, sans-serif;
    position: absolute;
    text-align: center;
    font-size: 17px;
    color: rgb(255, 255, 255);
    font-display: center;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-shadow: 2px 2px rgb(14, 15, 36);
} 
.rating{
    font-family: Arial, Black, sans-serif;
    position: absolute;
    text-align: center;
    font-size: 20px;
    color: rgb(255, 255, 255);
    font-display: center;
    top: 90%;
    left: 35%;
    transform: translate(-25%, -60%);
    text-shadow: 2px 2px rgb(14, 15, 36);
}



.ico{
    width: 20%;;
    height: 20%;;
}

.X{
    font-family: Arial, Black, sans-serif;
    background-color: red;
    width: 20px;
    border-radius: 20px;
    position: absolute;
    text-align: center;
    font-size: 17px;
    color: rgb(255, 255, 255);
    font-display: center;
    top: 10%;
    left: 10%;
    transform: translate(-50%, -50%);
    text-shadow: 2px 2px rgb(14, 15, 36);
    z-index: 1;
    cursor: pointer;
}
.X:hover{

    box-shadow: 13px 15px 37px black;
}

